/* === Animations === */
@
-webkit-keyframes inhale { 0% {
	
}

1%
{
-webkit-transform
:scale(1)
;
 
opacity
:
1;
 
visibility
:
 
visible
}
80%
{
-webkit-transform
:scale(2)
;
 
opacity
:
1;
 
visibility
:
 
visible
}
85%
{
-webkit-transform
:scale(2)
;
 
opacity
:
0;
 
visibility
:
 
visible
}
86%
{
-webkit-transform
:scale(2)
;
 
opacity
:
0
}
100%
{
-webkit-transform
:scale(2)
;
 
opacity
:
0
}
}
@
-webkit-keyframes hold { 0% {
	
}

1%
{
opacity
:
1;
 
visibility
:
 
visible
;
}
80%
{
opacity
:
1;
 
visibility
:
 
visible
}
85%
{
opacity
:
0;
 
visibility
:
 
visible
}
100%
{
opacity
:
0
}
}
@
-webkit-keyframes exhale { 0% {
	
}

1%
{
-webkit-transform
:scale(2)
;
 
opacity
:
1;
 
visibility
:
 
visible
}
80%
{
-webkit-transform
:scale(1)
;
 
opacity
:
1;
 
visibility
:
 
visible
}
85%
{
-webkit-transform
:scale(1)
;
 
opacity
:
0;
 
visibility
:
 
visible
}
86%
{
-webkit-transform
:scale(1)
;
 
opacity
:
0
}
100%
{
-webkit-transform
:scale(1)
;
 
opacity
:
0
}
}
#orb_green {
	
}

#orb_yellow_full {
	
}

#orb_red {
	-webkit-transform: scale(2);
}

#orb_yellow_empty {
	
}

.orb {
	visibility: hidden;
}